
<!-- Begin Top Author Page
================================================== -->
<div class="container" style="margin-top:5%;">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8 col-md-offset-2">
			<div class="mainheading">
				<div class="row post-top-meta authorpage">
					<div class="col-md-10 col-xs-12">
						<h1>Husein Indra Kusuma</h1>
						<span class="author-description">A man who derived analysis perspective to solve issues with data..</span><br>
						<div class="sociallinks"><a  target="_blank" href="https://www.facebook.com/huseindra/"><i class="fa fa-facebook"></i></a> <span class="dot"></span> <a target="_blank" href="https://linkedin.com/huseindra"><i class="fa fa-linkedin"></i></a></div>
						<a target="_blank" href="https://instagram.com/huseindra" class="btn follow">Follow</a>
					</div>
					<div class="col-md-2 col-xs-12">
						<img class="author-thumb" style="width:180px !important;height:180px !important;" src="https://media.licdn.com/dms/image/C5103AQEVSQrs7k41eA/profile-displayphoto-shrink_200_200/0?e=1544659200&v=beta&t=ZYybNhthHXhPB6ViXMz3jU0_prL_zj_iPYhe8wREam0" alt="Sal">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Top Author Meta
================================================== -->
