
	<!-- Begin Footer
	================================================== -->
	<div class="footer">
		<div class="container">
					<p class="pull-left">

						 Copyright &copy; 2018 Husein Indra Kusuma | Made with <i class="fas fa-heart" style="color:#c0392b;"></i> in Semarang
					</p>
					<p class="pull-right" style="text-align:right;">
					  Powered by <a target="_blank" href="https://www.hexo.io" >Hexo</a>
					</p>
		</div>

		<div class="clearfix">
		</div>
	</div>
	<!-- End Footer
	================================================== -->
