<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

        <!-- Menu -->

              	<!-- Begin List Posts
              	================================================== -->
                <!-- Main Content -->
                <%- body %>
                	<!-- End List Posts
                	================================================== -->

      
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
<script id="dsq-count-scr" src="//blog-husein-indra-kusuma.disqus.com/count.js" async></script>
</body>

</html>
